.Family-detail-form {
  padding: 3rem;
}
.Family-detail-form h1 {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.491);
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.Family-detail-form form {
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.family-details-inner {
  display: flex;
}
.Family-details-form-left,
.Family-details-form-middle,
.Family-details-form-right {
  flex-basis: 33.33%;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.Family-detail-form form input {
  border: 0px;
  border-radius: 8px;
  padding: 8px 20px 8px 8px;
  font-size: 14px;
  width: 80%;
}
.Family-detail-form form input:focus {
  outline: 0px;
}
.Family-details-btn {
  text-align: center;
}
.Family-details-btn button {
  width: 5rem;
  margin-right: 1rem;
  padding: 4px 15px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 15px;
}

.Family-details-btn .btnprev {
  border: 1px solid #ed177e !important;
  color: #ed177e !important;
}

.btnnext {
  background-image: linear-gradient(140deg, #ec1c24, #ff1f70, #ed177e, #662d91);
}

.group {
  position: relative;
  margin-bottom: 45px;
}
.group label {
  color: #999;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.Family-detail-form form .group input:focus {
  border: 1px solid #ed177e;
}
.Family-detail-form form .group input:focus ~ label,
.Family-detail-form form .group input:valid ~ label {
  top: -7px;
  font-size: 11px;
  color: #ed177e;
  background-color: #fff;
}
