.searchedlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.searchedlist-left {
  padding: 10px;
  flex-basis: 20%;
}
.searchedlist-left img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
.searchedlist-right {
  border-radius: 0 10px 10px 0;
  padding: 0.5rem 1rem;
  flex-basis: 80%;
}
.searchedlist-right h3 {
  font-size: 22px;
  margin-left: 1rem;
}
.searchedlist-right hr {
  position: relative;
  /* top: -0.8rem; */
  opacity: 20%;
  margin-bottom: 0;
  width: 94%;
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 3rem;
}
.user-details p {
  font-size: 16px;
  opacity: 85%;
  line-height: 1.5rem;
  margin: 0;
}
.user-details-left {
  padding-left: 1rem;
}
.user-details p {
  font-size: 16px;
}
.searchedlist-btn {
  padding: 6px 20px;
  margin: 7px 0px;
  width: 100%;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  /* background-image: linear-gradient(140deg, #ec1c24, #ff1f70, #ed177e, #662d91); */
}
.searchedlist-btn:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}
.searchedlist-outline-btn {
  width: 100%;
  margin: 8px 0px;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border: 2px solid var(--secondary);  
  border-radius: 10px;
  background-color: white;
}
.searchedlist-outline-btn:hover {
  color: #ec1c24;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 992px) {
  .user-details {
    padding-right: 2rem !important;
  }
  .profile-details .p1:last-child {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .user-details {
    padding-right: 0 !important;
    justify-content: space-around;
  }
  .searchedlist-left {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  .searchedlist-right {
    flex-basis: 100%;
    justify-content: center;
  }
  .searchedlist-right h3 {
    font-size: 18px;
    text-align: center;
    margin: 0rem;
  }
  .user-details p {
    font-size: 13px;
    line-height: 1.1rem;
  }
  .user-details-right button {
    font-size: 12px;
  }
  .user-details-left {
    text-align: start;
    padding: 0 !important;
  }
  .profile-right-title h1 {
    width: 100%;
    margin-top: 2rem;
  }
}
